include *.md
include *.rst
include *.txt
include *.yml
include *.cfg
include Makefile
recursive-include docs *.rst
recursive-include docs *.jpg
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs Makefile
recursive-include tests *.py
recursive-include examples *.py
recursive-include examples *.ipynb
