
## Utilities
#python-dateutil==2.5.3
#six==1.10.0

## Testing Requirements (uncomment for development)
#nose==1.3.7
#coverage==4.0.3

## Build Requirements (uncomment for deployment)
#wheel==0.29.0

## Pip stuff (ignore)
#Python==2.7.11
#pip==8.1.2
#setuptools==21.0.0
#wsgiref==0.1.2
