# Library Dependencies
matplotlib>=1.5.1
scipy>=0.19
scikit-learn>=0.19
numpy>=1.13.0
cycler>=0.10.0

# Testing Requirements
pytest>=3.4.1
pytest-cov>=2.5.1
pytest-flakes>=2.0.0
pytest-spec>=1.1.0
coverage>=4.4.1
requests>=2.18.3
six==1.11.0

# Python 2 Testing Requirements
mock>=2.0.0

# Optional Testing Dependencies
nltk>=3.2
pandas>=0.20
