# Library Dependencies
matplotlib>=1.5.1
scipy>=0.17.1
scikit-learn>=0.18
numpy>=1.11.0
cycler>=0.10.0

# Testing Requirements
pytest>=3.2.3
pytest_cov>=2.5.1
coverage>=4.1
requests>=2.10.0

# Python 2 Testing Requirements
mock>=2.0.0

# Optional Testing Dependencies
nltk>=3.0
pandas>=0.18
