# Library Dependencies
matplotlib>=3.3
scipy>=1.6.0
scikit-learn>=0.24
numpy>=1.16.0,<1.20
cycler>=0.10.0

# Documentation Dependencies
Sphinx>=3.4
sphinx-rtd-theme>=0.5.1
numpydoc>=1.1
pandas>=1.0.4
